<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mybookmanager.mapper.BookrecordsMapper" >
  <resultMap id="BaseResultMap" type="cn.mybookmanager.model.Bookrecords" >
    <result column="bookMemuId" property="bookmemuid" jdbcType="VARCHAR" />
    <result column="bookid" property="bookid" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="booknum" property="booknum" jdbcType="INTEGER" />
    <result column="purchaseTime" property="purchasetime" jdbcType="VARCHAR" />
    <result column="bookcontent" property="bookcontent" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="fullresultmap" type="cn.mybookmanager.pojo.Fullbookrecords"  extends="BaseResultMap">
    <association property="bookinfo" javaType="cn.mybookmanager.model.Bookinfo">
      <id column="bookinfo.bookid" property="bookid" jdbcType="VARCHAR" />
      <result column="bookName" property="bookname" jdbcType="VARCHAR" />
      <result column="author" property="author" jdbcType="VARCHAR" />
      <result column="edition" property="edition" jdbcType="INTEGER" />
      <result column="publishUnit" property="publishunit" jdbcType="VARCHAR" />
      <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
      <result column="inventory" property="inventory" jdbcType="INTEGER" />
      <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    bookMemuId, bookid, supplier, booknum, purchaseTime, bookcontent
  </sql>
  <sql id="Base_bookinfo">
    bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier
  </sql>
  <select id="selectAllBookrecord"  resultMap="fullresultmap">
    SELECT DISTINCT
    <include refid="Base_Column_List" />,
    <include refid="Base_bookinfo" />
    FROM bookrecords,bookinfo
    WHERE bookrecords.bookid=bookinfo.bookid
   </select>
  <!--查询某个时间产生或为某个时间段或某本书或某个供货商的，某本书是否已经有记录-->
  <select id="selectBookrecordsByPrimary" parameterType="cn.mybookmanager.model.Bookrecords" resultMap="BaseResultMap">
    SELECT DISTINCT
    <include refid="Base_Column_List" />
    FROM bookrecords
    <where>
  <if test="bookmemuid!=null and bookmemuid!=''"> bookMemuId=#{bookmemuid,jdbcType=VARCHAR} </if>
     <if test="bookid!=null and bookid!=''">AND   bookid= #{bookid,jdbcType=VARCHAR} </if>
    <if test="purchasetime!=null and purchasetime!=''">AND purchaseTime=#{purchasetime,jdbcType=VARCHAR}</if>
    <if test="supplier!=null and supplier!=''">AND supplier= #{supplier,jdbcType=VARCHAR}</if>
    </where>
  </select>
  <insert id="insert" parameterType="cn.mybookmanager.model.Bookrecords" >
    insert into bookrecords (bookMemuId, bookid, supplier,
      booknum, purchaseTime, bookcontent
      )
    values (#{bookmemuid,jdbcType=VARCHAR}, #{bookid,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR},
      #{booknum,jdbcType=INTEGER}, #{purchasetime,jdbcType=VARCHAR}, #{bookcontent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.mybookmanager.model.Bookrecords" >
    insert into bookrecords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookmemuid != null" >
        bookMemuId,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="booknum != null" >
        booknum,
      </if>
      <if test="purchasetime != null" >
        purchaseTime,
      </if>
      <if test="bookcontent != null" >
        bookcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookmemuid != null" >
        #{bookmemuid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="booknum != null" >
        #{booknum,jdbcType=INTEGER},
      </if>
      <if test="purchasetime != null" >
        #{purchasetime,jdbcType=VARCHAR},
      </if>
      <if test="bookcontent != null" >
        #{bookcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>