<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mybookmanager.mapper.SendbookrecordMapper" >
  <resultMap id="BaseResultMap" type="cn.mybookmanager.model.Sendbookrecord" >
    <result column="sendBookId" property="sendbookid" jdbcType="VARCHAR" />
    <result column="classId" property="classid" jdbcType="VARCHAR" />
    <result column="bookid" property="bookid" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendtime" jdbcType="VARCHAR" />
    <result column="booksnum" property="booksnum" jdbcType="INTEGER" />
    <result column="classcontent" property="classcontent" jdbcType="VARCHAR" />
    <result column="bookcontent" property="bookcontent" jdbcType="VARCHAR" />
    <result column="forsemeter" property="forsemeter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sendBookId, classId, bookid, sendTime, booksnum, classcontent, bookcontent, forsemeter
  </sql>
  <insert id="insert" parameterType="cn.mybookmanager.model.Sendbookrecord" >
    <selectKey keyProperty="sendbookid" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into sendbookrecord (sendBookId, classId, bookid,
      sendTime, booksnum, classcontent,
      bookcontent, forsemeter)
    values (#{sendbookid,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, #{bookid,jdbcType=VARCHAR},
      #{sendtime,jdbcType=VARCHAR}, #{booksnum,jdbcType=INTEGER}, #{classcontent,jdbcType=VARCHAR},
      #{bookcontent,jdbcType=VARCHAR}, #{forsemeter,jdbcType=VARCHAR})
  </insert>
  <!--查询某个时段的发书记录-->
  <select id="selectSendbookrecord" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM sendbookrecord
    WHERE
    <if test="forsemeter!=null and forsemeter!=''">forsemeter= #{forsemeter,jdbcType=VARCHAR}</if>
    <if test="bookid!=null and bookid!=''">AND   bookid= #{bookid,jdbcType=VARCHAR} </if>
    <if test="classid!=null and classid!=''">AND classId= #{classid,jdbcType=VARCHAR}</if>
  </select>

  <insert id="insertSelective" parameterType="cn.mybookmanager.model.Sendbookrecord" >
    insert into sendbookrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sendbookid != null" >
        sendBookId,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="booksnum != null" >
        booksnum,
      </if>
      <if test="classcontent != null" >
        classcontent,
      </if>
      <if test="bookcontent != null" >
        bookcontent,
      </if>
      <if test="forsemeter != null" >
        forsemeter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sendbookid != null" >
        #{sendbookid,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=VARCHAR},
      </if>
      <if test="booksnum != null" >
        #{booksnum,jdbcType=INTEGER},
      </if>
      <if test="classcontent != null" >
        #{classcontent,jdbcType=VARCHAR},
      </if>
      <if test="bookcontent != null" >
        #{bookcontent,jdbcType=VARCHAR},
      </if>
      <if test="forsemeter != null" >
        #{forsemeter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


</mapper>