<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mybookmanager.mapper.TeachingplanMapper" >
  <resultMap id="BaseResultMap" type="cn.mybookmanager.model.Teachingplan" >
    <id column="planId" property="planid" jdbcType="VARCHAR" />
    <result column="gradeId" property="gradeid" jdbcType="VARCHAR" />
    <result column="courseName" property="coursename" jdbcType="VARCHAR" />
    <result column="bookid" property="bookid" jdbcType="VARCHAR" />
    <result column="semester" property="semester" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="FullBaseResultMap" type="cn.mybookmanager.pojo.FullTeachingPlan" extends="BaseResultMap">

    <association property="gradeinfo" javaType="cn.mybookmanager.model.Gradeinfo">
      <id column="gradeinfo.gradeId" property="gradeid" jdbcType="VARCHAR" />
      <result column="college" property="college" jdbcType="VARCHAR" />
      <result column="grade" property="grade" jdbcType="INTEGER" />
      <result column="profession" property="profession" jdbcType="VARCHAR" />
      <result column="numOfClass" property="numofclass" jdbcType="INTEGER" />
      <result column="numOfStu" property="numofstu" jdbcType="INTEGER" />
      <result column="campus" property="campus" jdbcType="VARCHAR" />
      <result column="schoolSystem" property="schoolSystem" jdbcType="INTEGER" />
    </association>
    <association property="bookinfo" javaType="cn.mybookmanager.model.Bookinfo">
      <id column="bookinfo.bookid" property="bookid" jdbcType="VARCHAR" />
      <result column="bookName" property="bookname" jdbcType="VARCHAR" />
      <result column="author" property="author" jdbcType="VARCHAR" />
      <result column="edition" property="edition" jdbcType="INTEGER" />
      <result column="publishUnit" property="publishunit" jdbcType="VARCHAR" />
      <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
      <result column="inventory" property="inventory" jdbcType="INTEGER" />
      <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_planList" >
    teachingplan.gradeid,teachingplan.planId,teachingplan.courseName,teachingplan.bookid,teachingplan.semester
  </sql>
  <sql id="Base_bookinfo">
bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier
  </sql>

  <sql id="Base_gradeinfo">
   gradeinfo.gradeid,college, grade, profession, numOfClass, numOfStu, campus,schoolSystem
  </sql>

<sql id="whole">teachingplan.gradeid,teachingplan.planId,teachingplan.courseName,teachingplan.bookid,teachingplan.semester
  ,bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier,
  gradeinfo.gradeid,college, grade, profession, numOfClass, numOfStu, campus,schoolSystem
</sql>
  <!--Integer planid, Integer gradeid, String coursename, Integer bookid, Integer semester, Gradeinfo gradeinfo, Bookinfo bookinfo-->
  <!--查询所有教学计划-->
  <select id="selectAllPlan" resultMap="FullBaseResultMap" >
    select
    DISTINCT
    <include refid="whole" />
    from teachingplan,bookinfo,gradeinfo
    where teachingplan.gradeid=gradeinfo.gradeid AND teachingplan.bookid=bookinfo.bookid
    GROUP BY teachingplan.gradeid,teachingplan.planId,teachingplan.courseName,teachingplan.bookid,teachingplan.semester
    ,bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier,gradeinfo.gradeid,college, grade, profession, numOfClass, numOfStu, campus,schoolSystem
  </select>



  <select id="selectPlanBybookid" resultMap="FullBaseResultMap" parameterType="java.lang.String" >
    select
    DISTINCT
    <include refid="whole" />
    from teachingplan,bookinfo,gradeinfo
    where teachingplan.gradeid=gradeinfo.gradeid AND teachingplan.bookid=bookinfo.bookid AND teachingplan.bookid= #{bookid,jdbcType=VARCHAR}
    GROUP BY teachingplan.gradeid,teachingplan.planId,teachingplan.courseName,teachingplan.bookid,teachingplan.semester
    ,bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier,gradeinfo.gradeid,college, grade, profession, numOfClass, numOfStu, campus,schoolSystem
  </select>

  <!--查询所有课程计划-->
  <select id="selectAllCoursePlan" resultType="cn.mybookmanager.pojo.Courseplan">
    select
    DISTINCT
 courseName, <include refid="Base_bookinfo" />
    from teachingplan,bookinfo
    where teachingplan.bookid=bookinfo.bookid
    GROUP BY teachingplan.courseName,teachingplan.bookid,bookName, author, edition, publishUnit, ISBN, inventory,supplier
</select>



  <!--精确查询教学计划-->
  <select id="selectAllPlanByQuery" resultMap="FullBaseResultMap" parameterType="cn.mybookmanager.pojo.QueryConditions" >
    select
    DISTINCT
    <include refid="Base_planList" />,
    <include refid="Base_bookinfo" />,
    a.gradeid,a.college, a.grade, a.profession,a.numOfClass, a.numOfStu, a.campus,a.schoolSystem
    from teachingplan,bookinfo,(SELECT
    <include refid="Base_gradeinfo"/> FROM gradeinfo
    <where>

        <if test="college!=null and college!=''">college =#{college,jdbcType=VARCHAR}</if>
        <if test=" grade!=null and grade!=0">and  grade = #{grade,jdbcType=INTEGER} </if>
        <if test="profession!=null and profession!=''">and profession= #{profession,jdbcType=VARCHAR}</if>
        <if test=" campus!=null and campus!=''">and campus= #{campus,jdbcType=VARCHAR}</if>
    </where>
    ) a
    where
    teachingplan.gradeid=a.gradeid AND teachingplan.bookid=bookinfo.bookid
    <if test=" semester!=null and semester!=0">and teachingplan.semester= #{semester,jdbcType=INTEGER}</if>
    GROUP BY teachingplan.gradeid,teachingplan.planId,teachingplan.courseName,teachingplan.bookid,teachingplan.semester ,
    bookinfo.bookid, bookName, author, edition, publishUnit, ISBN, inventory,supplier,
    a.gradeid,a.college, a.grade, a.profession,a.numOfClass, a.numOfStu, a.campus,a.schoolSystem
  </select>


<!--根据关键字段找教学计划-->
  <select id="selectPlanBykeyfiled" resultMap="BaseResultMap" parameterType="cn.mybookmanager.model.Teachingplan" >
     select DISTINCT
    <include refid="Base_planList" />
    from teachingplan
    where
    gradeId = #{gradeid,jdbcType=VARCHAR} AND
    courseName = #{coursename,jdbcType=VARCHAR} AND
    bookid = #{bookid,jdbcType=VARCHAR}
    <if test=" semester!=null and semester!=0">and semester= #{semester,jdbcType=INTEGER}</if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    DISTINCT
    <include refid="Base_planList" />
    from teachingplan
    where planId = #{planid,jdbcType=VARCHAR}
  </select>


  <select id="selectPlanBygradeId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    DISTINCT
    <include refid="Base_planList" />
    from teachingplan
    where gradeId = #{gradeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teachingplan
    where planId = #{planid,jdbcType=VARCHAR}
  </delete>

<!--添加新的教学计划-->
  <insert id="insert" parameterType="cn.mybookmanager.model.Teachingplan"  >
    <selectKey keyProperty="planid" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into teachingplan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planid != null" >
        planId,
      </if>
      <if test="gradeid != null" >
        gradeId,
      </if>
      <if test="coursename != null" >
        courseName,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="semester != null" >
        semester,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planid != null" >
        #{planid,jdbcType=VARCHAR},
      </if>
      <if test="gradeid != null" >
        #{gradeid,jdbcType=VARCHAR},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        #{semester,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKey" parameterType="cn.mybookmanager.model.Teachingplan" >
    update teachingplan
    set gradeId = #{gradeid,jdbcType=VARCHAR},
      courseName = #{coursename,jdbcType=VARCHAR},
      bookid = #{bookid,jdbcType=VARCHAR},
      semester = #{semester,jdbcType=INTEGER}
    where planId = #{planid,jdbcType=VARCHAR}
  </update>
<!--删除某年级所有教学计划-->
<delete id="deleteplanBygradeId" parameterType="java.lang.String" >
  delete from teachingplan
  where gradeId = #{gradeid,jdbcType=VARCHAR}
</delete>

  <!--删除某年级某学期教学计划-->
  <delete id="deleteplanBygradeIdAndSemster" >
    delete from teachingplan
    where gradeId = #{gradeid,jdbcType=VARCHAR} AND
     semester = #{semester,jdbcType=INTEGER}
  </delete>


</mapper>