<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <!-- Bootstrap核心CSS文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"/>
    <!-- 可选的Bootstrap主题文件(一般不用引入) -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css"/>
    <!-- jQuery文件，在bootstrap.min.js之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Bootstrap核心JavaScript文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
    <style><!--
    #ringht{height: 100%;}
    .list-group > li.active, .list-group > li.current-page {
        border-right: 5px solid #1ABB9C;
    }
    -->
    </style>
</head>

<body>


<div class="row clearfix">

    <nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.jpg" alt=""/></a>
        </div>
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav" style="margin-left: 90px">
          <li> <a  href="#" ><h3>湖北中医药大学教材管理系统</h3></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  href="#">关于我们</a>
                </li>


            </ul>
        </div>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation" style="margin-right: 0">
        <div class="sidebar-collapse col-md-2 column" id="sidebar-menu">

            <div class="panel-group table-hover" id="panel-608084">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a class="panel-title collapsed" href="#panel-element-235974" data-toggle="collapse" data-parent="#panel-608084">
                            <span class="glyphicon glyphicon-th-large"></span>基本信息</a>
                    </div>
                    <div class="panel-collapse collapse" id="panel-element-235974">

                        <ul class="list-group" >
                            <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <a class="menu-item-left" href="bookmanagersystem/basicinfo/gradeinfo.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>年级基本信息
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="menu-item-left" href="bookmanagersystem/basicinfo/classinfo.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>班级基本信息
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="menu-item-left" href="bookmanagersystem/basicinfo/bookinfo.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>教材基本信息
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div class="panel-heading">
                        <a class="panel-title collapsed" href="#panel-element-317266" data-toggle="collapse" data-parent="#panel-608084">
                            <span class="glyphicon glyphicon-credit-card"></span>教学计划管理</a>
                    </div>
                    <div class="panel-collapse collapse" id="panel-element-317266">

                        <ul class="list-group"  >
                            <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <a class="menu-item-left" href="bookmanagersystem/teachingplan/viewplaning.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>查看教学计划
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="menu-item-left" href="bookmanagersystem/teachingplan/plaitPlaning.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>教学计划编制
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="menu-item-left" href="bookmanagersystem/teachingplan/Changebook.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>教材调整
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="panel-heading">
                        <a class="panel-title " href="#panel-element-317267" data-toggle="collapse" data-parent="#panel-608084">
                            <span class="glyphicon glyphicon-fire"></span>教材采购</a>
                    </div>
                    <div class="panel-collapse collapse" id="panel-element-317267">

                        <ul class="list-group"  >
                            <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <a class="menu-item-left" href="bookmanagersystem/basicinfo/bookinfo.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>教材余量查询
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="menu-item-left" href="bookmanagersystem/bookpurchasing/bookPurchasing.html" target="menuFrame">
                                    <span class="glyphicon glyphicon-triangle-right"></span>生成购书清单
                                </a>
                            </li>


                        </ul>
                    </div>

                    <div class="panel-heading">
                        <a class="panel-title collapsed" href="#panel-element-317268" data-toggle="collapse" data-parent="#panel-608084">
                            <span class="glyphicon glyphicon-book "></span>发书</a>
                    </div>

                    <div class="panel-collapse collapse" id="panel-element-317268">
                        <ul class="list-group"  >
                            <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <a class="menu-item-left" href="bookmanagersystem/bookdistribute/bookdistribute.html"
                                   target="menuFrame"
                                >
                                    <span class="glyphicon glyphicon-triangle-right"></span>教材发放
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="panel-heading">
                        <a class="panel-title collapsed" href="#searchHistory" data-toggle="collapse" data-parent="#panel-608084">
                            <span class="glyphicon glyphicon-pushpin"></span>历史查询</a>
                    </div>
                    <div class="panel-collapse collapse" id="searchHistory">
                        <div class="panel-body">
                            <ul class="list-group" >
                                <li class="list-group-item">
                                    <!-- 利用data-target指定URL -->
                                    <a class="menu-item-left" href="bookmanagersystem/historySearch/BookHistory.html"
                                       target="menuFrame">
                                        <span class="glyphicon glyphicon-triangle-right"></span>购书记录查询
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <!-- 利用data-target指定URL -->
                                    <a class="menu-item-left" href="bookmanagersystem/historySearch/BookDistributeHistory.html"
                                       target="menuFrame">
                                        <span class="glyphicon glyphicon-triangle-right"></span>发书记录查询
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        </nav>
        <div  id="ringht" class="col-md-10 column" style="height:100%;">
            <iframe id="menuFrame" name="menuFrame"  scrolling="yes"
                    onload="changeFrameHeight()"    frameborder="0" width="100%" src="bookmanagersystem/main.html">

            </iframe>
        </div>








</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(function(){
        $(".panel-heading").click(function(e){
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });


    //解决ifram高度问题
    function changeFrameHeight(){
        var ifm= document.getElementById("menuFrame");
        ifm.height=document.documentElement.clientHeight;
    }
    window.onresize=function(){
        changeFrameHeight();
    }

</script>
</body>
</html>
